[Desktop Entry]
Type=Application
Name=otp-desktop
Exec=otp-desktop
Comment=A simple desktop application for generating OTP codes
Categories=
Icon=otp-desktop
Terminal=false
