[Desktop Entry]
Type=Application
Name=OTP generator
Exec=bin/otp-desktop
Comment=A simple desktop application for generating OTP codes
Categories=
Icon=otp-desktop
Terminal=false
